<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/list">BLOG</a></h1>
        <div class="panel">
          <h2>ログイン</h2>
          <form action="" method="">
            <p>メールアドレス</p>
            <!-- メールアドレスの入力欄を作成してください -->
            <input type="text">
            <p>パスワード</p>
            <!-- パスワードの入力欄を作成してください -->
            <input type="password">
            <input type="submit" value="ログイン">
            <a href="/list">一覧にもどる</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>