<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <a href="/">BLOG</a>
        <ul>
          <li><a href="/list">記事一覧</a></li>
        </ul>
      </div>
      <p>わんこの学びブログ</p>
    </header>
    <main>
      <ul class="list">
        <!-- 記事の一覧を表示する処理を確認してください -->
        <% articles.forEach((article) => { %>
          <li>
            <h2><%= article.title %></h2>
            <p><%= article.summary %></p>
            <!-- 閲覧画面へのリンクの指定方法を確認してください -->
            <a href="/article/<%= article.id %>">続きを読む</a>
          </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
